<div class="container p-5">
  <div class="card">
    <div class="card-header">
      <h1>{{ title }}</h1>
    </div>

    <div class="card-body">
      <form [formGroup]="basicForm">
        <!-- First Name -->
        <div class="row mb-2">
          <label for="firstName" class="col-4 col-form-label"
            >First Name:</label
          >
          <div class="col-8">
            <input
              type="text"
              class="form-control"
              formControlName="firstName"
              placeholder="First Name"
            />
          </div>
        </div>

        <!-- Last Name -->
        <div class="row mb-2">
          <label for="firstName" class="col-4 col-form-label">Last Name:</label>
          <div class="col-8">
            <input
              type="text"
              class="form-control"
              formControlName="lastName"
              placeholder="Last Name"
            />
          </div>
        </div>

        <!-- Gender -->
        <div class="row mb-2">
          <label for="gender" class="col-4 col-form-label"> Gender: </label>
          <div class="col-8">
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                formControlName="gender"
                value="male"
              />
              <label class="form-check-label" for="male"> Male </label>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                formControlName="gender"
                value="female"
              />
              <label class="form-check-label" for="female"> Female </label>
            </div>
          </div>
        </div>

        <!-- Birthday -->
        <div class="row mb-2">
          <label for="birthday" class="col-4 col-form-label"> Birthday: </label>
          <div class="col-8">
            <input
              type="date"
              class="form-control"
              formControlName="birthday"
            />
          </div>
        </div>

        <!-- Phone number -->
        <div class="row mb-2">
          <label for="phone" class="col-4 col-form-label">Phone Number:</label>
          <div class="col-8">
            <input
              type="text"
              class="form-control"
              formControlName="phone"
              placeholder="01234567890"
            />
            <div
              *ngIf="
                basicForm.controls.phone.touched &&
                basicForm.controls.phone.invalid
              "
              class="alert alert-danger p-0 mb-2 text-center"
            >
              Please enter a valid phone number.
            </div>
          </div>
        </div>

        <!-- Email -->
        <div class="row mb-2">
          <label for="email" class="col-4 col-form-label">Email:</label>
          <div class="col-8">
            <input
              type="email"
              class="form-control"
              formControlName="email"
              placeholder="abc@def.com"
            />
            <div
              *ngIf="
                basicForm.controls.email.touched &&
                basicForm.controls.email.invalid
              "
              class="alert alert-danger p-0 mb-2 text-center"
            >
              Please enter a valid email.
            </div>
          </div>
        </div>

        <!-- Weight -->
        <div class="row mb-2">
          <label for="weight" class="col-4 col-form-label">Weight (kg):</label>
          <div class="col-8">
            <input
              type="number"
              class="form-control"
              formControlName="weight"
              placeholder="0"
              (change)="computebmi()"
            />
          </div>
        </div>

        <!-- Height -->
        <div class="row mb-2">
          <label for="height" class="col-4 col-form-label">Height (m):</label>
          <div class="col-8">
            <input
              type="number"
              class="form-control"
              formControlName="height"
              placeholder="0"
              (change)="computebmi()"
            />
          </div>
        </div>

        <!-- BMI -->
        <div class="row mb-2">
          <label for="resultbmi" class="col-4 col-form-label">BMI:</label>
          <div class="col-8 text-secondary">
            {{ resultbmi }}
          </div>
        </div>

        <!-- Vaccine -->
        <div class="row mb-2">
          <label for="cvaccine" class="col-4 col-form-label"
            >Received Covid Vaccine:</label
          >
          <div class="col-8">
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                formControlName="cvaccine"
                value="cyes"
              />
              <label class="form-check-label" for="cyes"> Yes </label>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                formControlName="cvaccine"
                value="cno"
              />
              <label class="form-check-label" for="cno"> No </label>
            </div>
          </div>
        </div>

        <!-- Prefered Class level  (dropdown)
      <div class="row mb-2">
        <label for="classLevel" class="col-4 col-form-label"
          >Prefered Class Level:</label
        >
        <div class="col-8">
          
        </div>
      </div>-->

        <!-- Prefered session (checkbox)
      <div class="row mb-2">
        <label for="Prefered session" class="col-4 col-form-label"
          >Prefered Session:</label
        >
        <div class="col-8">
          <div *ngFor="let session of sessionData">
            <input type="checkbox" (change)="onChangeSession(session.value, $event.target.checked)" />
            {{ session.name }}
          </div>
        </div>
      </div>-->

        <!-- Button -->
        <div class="col-md-3">
          <button type="submit" class="btn btn-primary" (click)="onSubmit()">
            Submit
          </button>
        </div>
      </form>
    </div>
    <!--end of card body-->
  </div>
</div>
